@model HospitalViewModel
@using HealthConsult.Web.Areas.Administration.Models;

@{
    ViewBag.Title = "Hospitals";
}

<h2>Hospitals</h2>

@Html.AntiForgeryToken()

@(Html.Kendo().Grid<HospitalViewModel>()
    .Name("grid-hospitals")
    .Columns(columns =>
    {
        columns.Bound(model => model.Name);
        columns.Bound(model => model.Phone);
        columns.Bound(model => model.Address);
        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(200);
    })
    .DataSource(data =>
        {
            data.Ajax()
                .Model(m => m.Id(h => h.Id))
                .PageSize(7)
                .ServerOperation(true)
                .Read(r => r.Action("ReadHospitals", "Hospitals").Data("sendAntiForgery"))
                .Update(up => up.Action("UpdateHospital", "Hospitals").Data("sendAntiForgery"))
                .Destroy(del => del.Action("DeleteHospital", "Hospitals").Data("sendAntiForgery"))
                .Create(create => create.Action("CreateHospital", "Hospitals").Data("sendAntiForgery"))
                .Events(events => events.Sync("sync_handler"));
        }
    )
    .Sortable()
    .Pageable()
    .ToolBar(toolbar => toolbar.Create())
        .Editable(
                e => e.Mode(GridEditMode.PopUp).TemplateName("HospitalTemplate").Window(w => w.Title("Add/Edit Hospitals").Width(420))
            )
    .Filterable()
    .Resizable(resize => resize.Columns(true))
    .Selectable()
)

<script type="text/javascript">
    function sendAntiForgery() {
        return { "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() }
    }

    function sync_handler(e) {
        this.read();
    }
</script>
